body{
  font-family:Arial,sans-serif;
  background:#f0f6ff;
  padding:20px;
  text-align:center;
}

input, button{
  font-size:18px;
  padding:10px;
  margin:5px;
}

button{
  cursor:pointer;
}

#answers button{
  display:block;
  width:80%;
  margin:5px auto;
  padding:10px;
}

#score{
  font-weight:bold;
  font-size:20px;
  margin-top:10px;
}
